/*
FUNÇÕES PADRÕES START
*********************************************************************/
.clear,
.first {
  clear: both;
}
/*********************************************************************
FUNÇÕES PADRÕES END
*/
/*
NON-RESPONSIVE START
**********************************************************************************************/
/* ALTERAR APENAS ESTAS VARIAVEIS DE ACORDO COM O PROJETO START */
.container {
  max-width: none !important;
  width: 960px;
}
.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* ALTERAR APENAS ESTAS VARIAVEIS DE ACORDO COM O PROJETO END */
/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}
/* Non-responsive overrides** Utilitze the following CSS to disable the responsive-ness of the container,* grid system, and navbar.*/
/* Reset the container */
/* Always float the navbar header */
.navbar-header {
  float: left;
}
/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}
.navbar-brand {
  margin-left: -15px;
}
/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}
/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #1a5f80 !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
/**********************************************************************************************
NON-RESPONSIVE END
*/
::selection {
  background-color: #1a5f80;
  color: #FFF;
}
::-moz-selection {
  background-color: #1a5f80;
  color: #FFF;
}
small {
  display: inline-block;
  line-height: 1.1;
}
textarea {
  resize: vertical;
}
a,
button {
  transition: all 0.25s ease 0s;
}
hr {
  border-width: 3px;
}
/*
FONTS START
**********************************************************************************************/
.chamada .title,
.box-header,
.btn,
.footer-header,
.menu-footer,
.navbar-nav {
  font-family: 'GothamBlack', Arial, sans-serif;
  font-weight: normal;
}
.site-footer small {
  font-family: Arial, sans-serif;
  font-weight: normal;
}
/**********************************************************************************************
FONTS END
*/
/*
ESTRUTURA START
**********************************************************************************************/
.extra-header .navbar {
  border: 0;
  margin: 0;
}
.extra-header .navbar-brand {
  height: auto;
  padding-top: 32px;
}
.extra-header .navbar-nav {
  text-transform: uppercase;
  font-size: 14px;
}
.extra-header .navbar-nav > li a {
  padding: 20px 10px;
}
.extra-header .navbar-nav > li + li {
  background: url(../imagem/site/bg-menu-item.gif) no-repeat left center;
  padding-left: 3px;
}
.extra-header .navbar-nav > li.home.active .ycon-home {
  background-position: right top;
}
.extra-header .menu-header {
  font-size: 16px;
}
.extra-header .menu-header > li {
  float: left;
  padding: 42px 0;
}
.extra-header .menu-header > li a {
  color: #818181;
  display: block;
  padding: 0 11px;
}
.extra-header .menu-header > li + li a {
  border-left: 1px solid #e5e5e5;
}
.extra-footer .footer-chamada {
  background: url(../imagem/site/bg-footer-chamada.jpg) no-repeat center top;
}
.extra-footer .footer-chamada .link {
  display: block;
  height: 304px;
}
.extra-footer .footer-direitos {
  background: #e2e2e2;
  text-align: center;
  padding: 20px 0;
}
.extra-footer .footer-mapa {
  background: #16b5c8;
  padding: 30px 0;
}
.extra-footer .footer-mapa,
.extra-footer .footer-mapa a {
  color: #FFF;
}
.extra-footer small {
  font-size: 11px;
}
.extra-footer .footer-header {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 0 8px;
  margin-bottom: 4px;
  height: 30px;
}
.extra-footer .footer-header:after {
  display: block;
  height: 1px;
  width: 78px;
  background: #FFF;
  content: " ";
  margin-top: 4px;
}
/**********************************************************************************************
ESTRUTURA END
*/
/*
CLASSES START
**********************************************************************************************/
[class^='lista-'],
[class^='lista-'],
[class^='menu-'],
[class^='menu-'] ul,
.cycle-slideshow {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.btn-gray {
  background: #EEE;
  color: #C93F2A;
}
.btn {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-transform: uppercase;
}
.btn .ycon-plus {
  margin-left: 10px;
}
.btn-lg {
  font-size: 13px;
  padding: 15px 18px;
}
.btn-rounded {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.btn-white {
  background: #FFF;
  color: #16b5c8 !important;
}
.btn-contato {
  background-image: url(../imagem/site/bg-btn-contato.png);
  background-repeat: no-repeat;
  background-position: right top;
  text-align: left !important;
  padding: 15px;
}
.box-banner {
  text-align: right;
  color: #1a5f80;
  position: relative;
  z-index: 1;
}
.box-banner,
.box-banner .cycle-slideshow,
.box-banner .cycle-slideshow li {
  width: 100%;
  height: 590px;
}
.box-banner .cycle-slideshow {
  position: relative;
  z-index: 1;
}
.box-banner .cycle-slideshow li {
  background: no-repeat center top;
}
.box-banner .content {
  padding-top: 36px;
  padding-left: 480px;
}
.box-banner .text {
  height: 242px;
  font-size: 19px;
}
.box-banner .title {
  margin-bottom: 30px;
  font-size: 35px;
}
.box-banner .desc {
  line-height: 1.2;
}
.box-banner > .container {
  position: relative;
  z-index: 2;
}
.box-banner .cycle-nav {
  position: absolute;
  right: 10px;
  bottom: 198px;
}
.box-banner .cycle-nav span {
  width: 10px;
  height: 10px;
  background: #1a5f80;
  text-indent: -1000px;
  overflow: hidden;
  text-align: left;
}
.box-banner .cycle-nav span + span {
  margin-left: 10px;
}
.box-banner .cycle-nav span.cycle-pager-active {
  background-color: #16b5c8;
}
.box-destaques {
  position: relative;
  margin-top: -180px;
  background: url(../imagem/site/bg-destaques.png) no-repeat center bottom;
  z-index: 2;
  margin-bottom: 60px;
}
.box-destaques,
.box-destaques .destaque {
  height: 230px;
}
.box-destaques .destaque {
  width: 310px;
  background: no-repeat left top;
  float: left;
}
.box-destaques .destaque,
.box-destaques .destaque a {
  color: #FFF;
}
.box-destaques .destaque.left {
  background-image: url(../imagem/site/destaque-cartao.png);
}
.box-destaques .destaque.mid {
  width: 320px;
  background-image: url(../imagem/site/destaque-custo.png);
}
.box-destaques .destaque.right {
  background-image: url(../imagem/site/destaque-peca.png);
}
.box-destaques .destaque .content {
  padding: 96px 20px 0;
  height: 180px;
  text-align: center;
}
.box-destaques .destaque .title {
  margin: 0 0 6px;
  font-size: 20px;
  text-transform: uppercase;
}
.box-destaques .destaque .desc {
  display: block;
  line-height: 1.2;
}
.box-destaques .destaque .plus {
  padding: 15px 20px;
  text-align: left;
  position: relative;
}
.box-destaques .destaque .plus .ycon-plus {
  position: absolute;
  top: 17px;
  right: 20px;
}
.box-header {
  text-transform: uppercase;
  color: #a5a5a5;
  text-align: center;
  margin-bottom: 45px;
}
.box-header h1,
.box-header h2,
.box-header h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.box-header:after {
  content: " ";
  display: block;
  width: 78px;
  height: 1px;
  background: #e2e2e2;
  margin: 10px auto 0;
}
.box-sobre {
  padding: 20px 0 0;
  margin-bottom: 30px;
}
.cycle-nav span {
  display: inline-block;
  cursor: pointer;
}
.chamada .imagem {
  display: block;
  margin-bottom: 15px;
}
.chamada .title {
  display: block;
  margin-bottom: 15px;
  color: #a5a5a5;
  font-size: 20px;
}
.chamada .content {
  min-height: 112px;
  line-height: 1.2;
}
.imagem {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
}
.imagem-rounded {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.inline-block {
  display: inline-block;
}
[class^='ycon-'],
[class*='ycon-'] {
  background-repeat: no-repeat;
  vertical-align: middle;
  display: inline-block;
  background-image: url(../imagem/site/ycon.png);
}
.lista-beneficios {
  margin-bottom: 30px;
}
.lista-beneficios > li {
  float: left;
  margin: 0 0 12px;
}
.lista-beneficios .icone {
  display: block;
  width: 60px;
  height: 60px;
  background: #e2e2e2;
  -webkit-border-radius: 15px 0 15px 0;
  -moz-border-radius: 15px 0 15px 0;
  border-radius: 15px 0 15px 0;
  text-align: center;
}
.lista-beneficios .icone img {
  display: inline-block;
  vertical-align: middle;
  max-width: 98%;
}
.lista-beneficios .title {
  display: inline-block;
  max-width: 97%;
  vertical-align: middle;
  font-size: 16px;
  line-height: 1;
}
.lista-beneficios .media-body {
  height: 60px;
}
.lista-beneficios .space {
  margin-right: -5px;
}
.large {
  font-size: 16px;
}
.ycon-home {
  background: url(../imagem/site/home.png) no-repeat left top;
  width: 21px;
  height: 17px;
}
.space {
  width: 1%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.relative {
  position: relative;
}
/**********************************************************************************************
CLASSES END
*/
/*
JQUERY UI START
**********************************************************************************************/
/**********************************************************************************************
JQUERY UI END
*/
@media (max-width: 767px) {
  /*    .site-geral:before {content:"TABLET";}*/
}
@media (max-width: 480px) {
  /*#GERAL:before {content:"MOBILE";}*/
}
@media (min-width: 981px) and (max-width: 1200px) {
  /*#GERAL:before {content:"ACIMA DE TABLET";}*/
}
